html
  head
    link(href='/creation/stylesheets/creation.css' rel='stylesheet')
    link(href='/stylesheets/style.css' rel='stylesheet')
  body
    #hmenu
      if in_private
        img(src="/images/sse_logo_words_scaled.png")
      else
        img(src="http://lorempixel.com/300/84")
      ul
        li 
          a(href='/Calendar') Calendar
        li
          a(href='/Events') Occurrances
        li
          a(href='/About') About
        li

    #ActiveProjects
      h1 Active Creations
      a(href='info') Want to start your own Project?
      
      #LeftCreation
        .section.group
          .col-2-left.span_1_of_2 
            h2 Creation With Title
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum malesuada mollis. Nunc nec vehicula dolor. Sed id rhoncus mi, sed molestie mi. Proin id ultricies lectus. Nullam faucibus massa in lectus elementum tincidunt. Maecenas vitae magna quis sem vestibulum vulputate. Pellentesque commodo, lectus quis congue sodales, quam leo gravida nisl, et pellentesque erat sapien in velit. Etiam sit amet volutpat sapien, eu aliquet ligula. Ut id lacus tempor, tempor lectus quis, consectetur nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum malesuada mollis. Nunc nec vehicula dolor. Sed id rhoncus mi, sed molestie mi. Proin id ultricies lectus. Nullam faucibus massa in lectus elementum tincidunt. Maecenas vitae magna quis sem vestibulum vulputate. Pellentesque commodo, lectus quis congue sodales, quam leo gravida nisl, et pellentesque erat sapien in velit. Etiam sit amet volutpat sapien, eu aliquet ligula. Ut id lacus tempor, tempor lectus quis, consectetur nulla.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum malesuada mollis. Nunc nec vehicula dolor. Sed id rhoncus mi, sed molestie mi. Proin id ultricies lectus. Nullam faucibus massa in lectus elementum tincidunt. Maecenas vitae magna quis sem vestibulum vulputate. Pellentesque commodo, lectus quis congue sodales, quam leo gravida nisl, et pellentesque erat sapien in velit. Etiam sit amet volutpat sapien, eu aliquet ligula. Ut id lacus tempor, tempor lectus quis, consectetur nulla.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum malesuada mollis. Nunc nec vehicula dolor. Sed id rhoncus mi, sed molestie mi. Proin id ultricies lectus. Nullam faucibus massa in lectus elementum tincidunt. Maecenas vitae magna quis sem vestibulum vulputate. Pellentesque commodo, lectus quis congue sodales, quam leo gravida nisl, et pellentesque erat sapien in velit. Etiam sit amet volutpat sapien, eu aliquet ligula. Ut id lacus tempor, tempor lectus quis, consectetur nulla.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum malesuada mollis. Nunc nec vehicula dolor. Sed id rhoncus mi, sed molestie mi. Proin id ultricies lectus. Nullam faucibus massa in lectus elementum tincidunt. Maecenas vitae magna quis sem vestibulum vulputate. Pellentesque commodo, lectus quis congue sodales, quam leo gravida nisl, et pellentesque erat sapien in velit. Etiam sit amet volutpat sapien, eu aliquet ligula. Ut id lacus tempor, tempor lectus quis, consectetur nulla.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum malesuada mollis. Nunc nec vehicula dolor. Sed id rhoncus mi, sed molestie mi. Proin id ultricies lectus. Nullam faucibus massa in lectus elementum tincidunt. Maecenas vitae magna quis sem vestibulum vulputate. Pellentesque commodo, lectus quis congue sodales, quam leo gravida nisl, et pellentesque erat sapien in velit. Etiam sit amet volutpat sapien, eu aliquet ligula. Ut id lacus tempor, tempor lectus quis, consectetur nulla.
          .col-2-left.span_2_of_2
            img(src="http://lorempixel.com/400/300")
            img(src="http://lorempixel.com/400/300")
        hr
      #RightCreation
        .section.group
          .col-2-right.span_1_of_2 
            h2 Creation With other Title
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum malesuada mollis. Nunc nec vehicula dolor. Sed id rhoncus mi, sed molestie mi. Proin id ultricies lectus. Nullam faucibus massa in lectus elementum tincidunt. Maecenas vitae magna quis sem vestibulum vulputate. Pellentesque commodo, lectus quis congue sodales, quam leo gravida nisl, et pellentesque erat sapien in velit. Etiam sit amet volutpat sapien, eu aliquet ligula. Ut id lacus tempor, tempor lectus quis, consectetur nulla.
          .col-2-right.span_2_of_2
            img(src="http://lorempixel.com/400/300")
        hr
      #LeftCreation
        .section.group
          .col-2-left.span_1_of_2 
            h2 Creation
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum malesuada mollis. Nunc nec vehicula dolor. Sed id rhoncus mi, sed molestie mi. Proin id ultricies lectus. Nullam faucibus massa in lectus elementum tincidunt. Maecenas vitae magna quis sem vestibulum vulputate. Pellentesque commodo, lectus quis congue sodales, quam leo gravida nisl, et pellentesque erat sapien in velit. Etiam sit amet volutpat sapien, eu aliquet ligula. Ut id lacus tempor, tempor lectus quis, consectetur nulla.
          .col-2-left.span_2_of_2
            img(src="http://lorempixel.com/400/300")
        hr
      #RightCreation
        .section.group
          .col-2-right.span_1_of_2 
            h2 Creation Titled Creation
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum malesuada mollis. Nunc nec vehicula dolor. Sed id rhoncus mi, sed molestie mi. Proin id ultricies lectus. Nullam faucibus massa in lectus elementum tincidunt. Maecenas vitae magna quis sem vestibulum vulputate. Pellentesque commodo, lectus quis congue sodales, quam leo gravida nisl, et pellentesque erat sapien in velit. Etiam sit amet volutpat sapien, eu aliquet ligula. Ut id lacus tempor, tempor lectus quis, consectetur nulla.
          .col-2-right.span_2_of_2
            img(src="http://lorempixel.com/400/300")

     // 
      .section.group
        .col-3.span_1_of_3
          h3 Creation
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum malesuada mollis. Nunc nec vehicula dolor. Sed id rhoncus mi, sed molestie mi. Proin id ultricies lectus. Nullam faucibus massa in lectus elementum tincidunt. Maecenas vitae magna quis sem vestibulum vulputate. Pellentesque commodo, lectus quis congue sodales, quam leo gravida nisl, et pellentesque erat sapien in velit. Etiam sit amet volutpat sapien, eu aliquet ligula. Ut id lacus tempor, tempor lectus quis, consectetur nulla.
        .col-3.span_2_of_3
          h3 Creation
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum malesuada mollis. Nunc nec vehicula dolor. Sed id rhoncus mi, sed molestie mi. Proin id ultricies lectus. Nullam faucibus massa in lectus elementum tincidunt. Maecenas vitae magna quis sem vestibulum vulputate. Pellentesque commodo, lectus quis congue sodales, quam leo gravida nisl, et pellentesque erat sapien in velit. Etiam sit amet volutpat sapien, eu aliquet ligula. Ut id lacus tempor, tempor lectus quis, consectetur nulla.
        .col-3.span_2_of_3
          h3 Creation
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum malesuada mollis. Nunc nec vehicula dolor. Sed id rhoncus mi, sed molestie mi. Proin id ultricies lectus. Nullam faucibus massa in lectus elementum tincidunt. Maecenas vitae magna quis sem vestibulum vulputate. Pellentesque commodo, lectus quis congue sodales, quam leo gravida nisl, et pellentesque erat sapien in velit. Etiam sit amet volutpat sapien, eu aliquet ligula. Ut id lacus tempor, tempor lectus quis, consectetur nulla.

      