html
head
  link(type='text/css', rel='stylesheet', href='/stylesheets/style.css')
  block css 
body
  #hmenu
    img(src="/images/sse_logo_words_scaled.png")
    ul
      li 
        a(href='/Calendar') Calendar
      li
        a(href='/Events') Events
      li
        a(href='/About') About
      li

  block content 

  #SiteMap
    hr
    .section.group
      .col-3.span_1_of_3
        a(href='/officers') Officers List
        br
        a(href='/events/cal') Events Calendar
        br
        a(href='/qdb') Quote Database
        br
        a(href='/externalLinks') External Resources
      .col-3.span_2_of_3
        a(href='/mentoring') Mentoring
        br
        a(href='/fundraising') Fundraising
        br
        a(href='/publicrelations') Public Relations
        br
        a(href='/projects') Projects
      .col-3.span_3_of_3
        a(href='/events') Events
        br
        a(href='/winterball') Winter Ball
        br
        a(href='/upkeep') Lab Upkeep
        br
        a(href='/technology') Technology 
  
  #footer
    p All content copyright 2015 - Project X