html
head
  link(type='text/css', rel='stylesheet', href='stylesheets/style.css')
body 
  #hmenu
    if in_private
      img(src="images/sse_logo_words_scaled.png")
    else
      img(src="http://lorempixel.com/300/84")
    ul
      li 
        a(href='Calendar') Calendar
      li
        a(href='Events') Occurrances
      li
        a(href='About') About
      li

  #LinkContent
    .section.grouo   