//extends home
html
head
  link(type='text/css', rel='stylesheet', href='stylesheets/style.css')
  //link(type='text/css', rel='stylesheet', href='stylesheets/col.css')
  //link(type='text/css', rel='stylesheet', href='stylesheets/3cols.css')

body
  if in_private
    img.bg(src='images/Lab-1.jpg')
  else
    img.bg(src='images/placeholder.jpg')
    //img.bg(src='images/Allen-Mentoring.jpg')

  //block header
  #hmenu
    if in_private
      img(src="images/sse_logo_words_scaled.png")
    else
      img(src="http://lorempixel.com/300/84")
    ul
      li 
        a(href='Calendar') Calendar
      li
        a(href='Events') Occurrances
      li
        a(href='About') About
      li

  //block content
  #Overlay
    h1 Welcome to Project X!

  #Content
    #About
      .section.group
        .col-2-right.span_1_of_2
          h2 About

          p The Society of Software Engineers (SSE) is a student run organization at The Rochester Institute of Technology composed of Software Engineers, Computer Scientists, and students with computing passion. We have over fifty active members that participate in Mentoring, Events, Public Relations, and Projects. The SSE has strong ties to companies such as Google, Apple, Microsoft, Constant Contact, Northrup Grumman and many more. We work closely with these companies to provide our members with potential career opportunities. 

          p The SSE Lab in the GCCIS building room 1670 (GOL-1670) is open for mentoring throughout the workday from 10AM to 6PM and any student can come in and ask questions for any class in the Software Engineering Curriculum. The Mentoring Committee offers one-on-one tutoring and holds review sessions for the major exams held throughout the semesters for SE and CS courses required in the SE Curriculum.
        .col-2-right.span_2_of_2
          img(src="images/placeholder.jpg")

    #Mentoring
      .section.group
        .col-2-right.span_1_of_2
          h2 Mentoring
          p The Society of Software Engineers is first and foremost a mentoring society. Mentors are chosen from students who have been through the introductory courses and are qualified to instruct other students in not just proper code ettiquete and technique, but also to think about the problems in different ways than what they're used to. Student mentors are volunteers for the SE Department, and many have been on co-op blocks with the knowledge of the work environment to impart on both incoming students and those seeking their first co-ops. The SSE also houses an extensive book library donated by experts in the field and friends of the department.

        .col-2-right.span_2_of_2
          img(src="images/placeholder.jpg")

    #Networking
      .section.group
        .col-2-right.span_1_of_2
          h2 Networking
          p The SSE has connections throughout the United States. Alumni have graduated and obtained jobs from California to Boston and many still keep in touch with each other and with members of the SSE.
        .col-2-right.span_2_of_2
          img(src="images/placeholder.jpg")

    #Projects
      .section.group
        .col-2-right.span_1_of_2
          h2 Projects
          p The SSE has passionate members who take their time to work on fantastic projects sponsored by the Society. Students can work on anything they imagine from web projects to hardware projects. The SSE website is an ongoing project, and in the past the Society partnered with the Imaging Science Deptartment to create a Volumentric Display; a projector that shoots an image onto a rapidly rotating projector to show an image in '3D space'. Anyone with a project idea can submit a Project Proposal 
        .col-2-right.span_2_of_2
          img(src="images/placeholder.jpg")

    #Events
      .section.group
        .col-2-right.span_1_of_2
          h2 Events
          p The SSE holds social events throughout the year including some favorites such as Powerpoint Karaoke, and Sardines, to Group Hockey games, Skiing Trips, and RapDev. Most of the events are powered by the attendance of students and are made much better with a crowd, so be sure to stop by and attend!

          p Once a week there are Tech Talks or mini Crash Courses given by students that aim to expose other members to technologies that are not necessarily taught during the curriculum. The Speaker has either experienced the technologies on their own in personal projects or experienced them during a Co-op.

          a(href="#") Check out our upcoming events here!  
        .col-2-right.span_2_of_2

    #getInvolved
      .section.group
        .col-2-right.span_1_of_2
          h2 Want to join the Project X?
          p The Society of Software Engineers is a friendly location on campus for students to chill between classes, work on projects, and meet new people. Anyone and everyone is welcome into our space provided they follow the lab rules, but to become part of the SSE you only need to help out in some club events. Membership to the SSE is free of cost and lasts throughout the semester that its is obtained. Nothing is required of the members, and those with membership gain benefits such as subsidized event costs and voting during Primary Officer Elections. Some of the ways to gain membership are to participate in any of the following:

          ul
            li
              p Join one of the many committees
            li
              p Create or work on an SSE Project
            libero
              p Help during Open Houses
            li
              p Give a Tech Talk
            li
              p Become a Mentor

    
    #SiteMap
      hr
      .section.group
        .col-3.span_1_of_3
          a(href='officers') Officers List
          br
          a(href='events/cal') Events Calendar
          br
          a(href='qdb') Quote Database
          br
          a(href='externalLinks') External Resources
        .col-3.span_2_of_3
          a(href='mentoring') Mentoring
          br
          a(href='fundraising') Fundraising
          br
          a(href='pr') Public Relations
          br
          a(href='projects') Projects
        .col-3.span_3_of_3
          a(href='events') Events
          br
          a(href='winterball') Winter Ball
          br
          a(href='upkeep') Lab Upkeep
          br
          a(href='technology') Technology 
    
    #footer
      p All content copyright 2015 - Project X

