html

head
  link(type='text/css', rel='stylesheet', href='stylesheets/style.css')

body
  img.bg(src='images/placeholder.jpg')

#hmenu
  img(src="http://lorempixel.com/300/100")
  ul
    li 
      a(href='Calendar') Calendar
    li
      a(href='Events') Occurances
    li
      a(href='About') About
    li
