extends layout

block content
  h1="Lab Rules"
  p USE OF THE SSE HEADQUARTERS LAB IMPLIES COMPLIANCE OF THE FOLLOWING RULES:

  p Opening/Closing

  ul
    li There is at any time ONE person responsible for holding the lab open. This person is referred to as being <strong>On Duty</strong>

    li Transfer of this responsibility must be EXPLICIT

    li The person <strong>On Duty</strong> must remain within immediate walking distance of the lab and should not be gone more than five (5) minutes

    li Lab responsibility can be explicitly assumed by any officer if necessary
  
  p Behavior
  
  ul
    li Clean up after yourself! Food and drinks will only be permissible if the lab remains clean
 
    li Rowdiness is not permitted in the lab

    li Noise should be kept to a minimum – Respect those who are in the lab to do work

    li Language choices should remain clean, decent, and respectful, regardless of who is in the lab

    li Shirt & Shoes are required to be worn at all times

    li Do not throw anything in the lab

  p Computer Usage

  ul
    li SSE members using the computers for academic work or SSE functions have priority over members using the computers for games or other purposes

    li Locking of computers is limited to fifteen (15) minutes

    li Only the person <strong>On Duty</strong> may reboot a locked computer

    li Do not print documents that require more than fifteen (15) pages total. Use common sense when printing. SSE Material takes priority

  p Resources/Facility

  ul
    li The whiteboards are for academic, professional and SSE Related purposes only

    li Do not modify the calendar or important notices that are placed on the whiteboards

    li The lab is for SSE related purposes first and foremost. Any other uses may be limited when necessary

  p Enforcement

  p If you violate any of the above rules, the person <strong>On Duty</strong> may give you a warning or ask you to leave. The person <strong>On Duty</strong> has discretion in deciding whether or not to warn you before removing you from the lab.

  p If you believe that you were inappropriately or unfairly kicked out of the lab, please contact the head of the SSE Mentoring Committee, the SSE President, or the SSE Vice President.

  p Because the SSE Headquarters Lab is property of the Software Engineering Department, the Department can assume authority in manners regarding lab upkeep, usage and behavior of individuals in the lab at any time. 