body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* Landing Background */

img.bg {
  /* Set rules to fill background */
  min-height: 90%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: 90%;
	
  /* Set up positioning */
  position: absolute;
  top: 0;
  left: 0;
  opacity: .5;
  z-index: -1;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

a {
  color: #00B7FF;
}

/* Header */

img.logo {
	width: 300;
	height: 100;
}

.offscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

div#hmenu {
   margin: 0;
   padding: 0 0 0 0;
   background: #89A7C2;
   width: 100%;
   min-height: 100px;
   text-align: center;
   position: absolute;
   top: 0;
   left: 0;
}

div#hmenu ul {
   list-style: none;
   margin: 0;
   padding: 0;
   text-align: right;
   max-height: 100px;
}

div#hmenu ul li {
   margin: 0;
   padding: 30;
   display: inline;
   height: 100px;
   line-height: 100px;
}

div#hmenu img {
	position: absolute;
	left: 0;
	top: 0;
	padding: 8 8 8 8;
}

div#hmenu ul a:link{
   margin: 0;
   padding: .3em .4em 0 .4em;
   text-decoration: none;
   font-weight: bold;
   font-size: 22px;
   color: #004415;
}

/* Landing Content */

div#Overlay {
	position: relative;
	left: 0;
	text-align: center;
	width: 100%;
	top: 140;
	height: 90%;
}

div#overlay h1 {
	color: #777777;
	text-align: center;
}

div#ColumnAbout {
	text-align:center;
}

div#ColumnEvents {
	text-align:center;
}

div#ColumnSponsors {
	text-align:center;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 32.26%; }
.span_2_of_3 { width: 32.26%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}
