div#SponsorContent {
  position:relative;
  text-align:center;
  width: 100%;
  top: 140;
  padding-bottom: 10%;
}

div#SponsorContent img {
  margin: 20px 0 0 20px;
}

div#BecomeSponsor {
  position:relative;
  text-align:center;
  margin: 20 20 0 20;
}